{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "import/no-extraneous-dependencies": ["error", "never"]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
        "modules": true
    }
  }
}